<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="60">

  <!--Properties-->
  <Properties>
    <Property name="log-path">/opt/akoshalogs/sftpapi</Property>
  </Properties>


  <!--Appenders-->
  <Appenders>
    <Console name="Console-Appender" target="SYSTEM_OUT">
      <PatternLayout>
        <pattern>
          [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c %M %L - %msg%n
        </pattern>>
      </PatternLayout>
    </Console>

    <RollingFile name="sftp-Console-Log" fileName="${log-path}/sftp-console.log"
      filePattern="${log-path}/sftp-console-%d{yyyy-MM-dd}-%i.log.gz">
      <PatternLayout>
        <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c %M %L -
          %msg%n
        </pattern>
      </PatternLayout>
      <Policies>
        <TimeBasedTriggeringPolicy />
      </Policies>
      <DefaultRolloverStrategy max="4">
        <Delete basePath="${log-path}" maxDepth="2">
          <IfFileName glob="*/sftp-console-*.log.gz">
            <IfLastModified age="15d">
              <IfAccumulatedFileCount exceeds="4" />
            </IfLastModified>
          </IfFileName>
        </Delete>
      </DefaultRolloverStrategy>
    </RollingFile>
    <RollingFile name="Failed-Events-Log" fileName="${log-path}/failed-events.log"
      filePattern="${log-path}/failed-events-%d{yyyy-MM-dd}-%i.log.gz">
      <PatternLayout>
        <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c %M %L -
          %msg%n
        </pattern>
      </PatternLayout>
      <Policies>
        <TimeBasedTriggeringPolicy />
      </Policies>
      <DefaultRolloverStrategy max="4">
        <Delete basePath="${log-path}" maxDepth="2">
          <IfFileName glob="*/failed-events-*.log.gz">
            <IfLastModified age="15d">
              <IfAccumulatedFileCount exceeds="4" />
            </IfLastModified>
          </IfFileName>
        </Delete>
      </DefaultRolloverStrategy>
    </RollingFile>

  </Appenders>


  <!--loggers-->
  <Loggers>
    <Logger name="com.onedirect.sftp" level="error" additivity="false">
      <AppenderRef ref="Failed-Events-Log"/>
      <AppenderRef ref="Console-Appender"/>
      <AppenderRef ref="sftp-Console-Log"/>
    </Logger>
    <Logger name="com.onedirect.sftp" level="debug" additivity="false">
      <AppenderRef ref="Console-Appender"/>
      <AppenderRef ref="sftp-Console-Log"/>
    </Logger>
    <Logger name="org.springframework.web" level="warn" additivity="false">
      <AppenderRef ref="Console-Appender"/>
      <AppenderRef ref="sftp-Console-Log"/>
    </Logger>
    <Root>
      <AppenderRef ref="Console-Appender"/>
      <AppenderRef ref="sftp-Console-Log"/>
    </Root>
  </Loggers>

</Configuration>


